@{ Layout = "_LayoutGeneral"; }

<link rel="stylesheet" href="~/css/slider.css" />
<main id="main">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/images/parking2.jpeg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
            <h2>About</h2>
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>About</li>
            </ol>
        </div>
    </div>
</main>

<div class="section mt-4">
    <div class="container">
        <div class="row text-left mb-5">
            <div class="col-12">
                <h2 class="font-weight-bold heading text-dark mb-4">About Us</h2>
            </div>
            <div class="col-lg-6">
                <p class="text-black-50 d-flex justify-content-evenly">
                    At ParkingSpot Ventures, we are proud to introduce our cutting-edge parking lot management web application.
                    Designed to streamline and enhance the parking experience, our application provides a comprehensive solution
                    for efficient parking lot management.
                </p>
                <p class="text-black-50 d-flex justify-content-evenly">
                    Whether you are a property owner, facility manager, or parking operator,
                    our platform empowers you to optimize operations, maximize revenue, and deliver a seamless parking experience to your customers.
                    With user-friendly interfaces, robust features, and advanced analytics, our application is the go-to solution
                    for modern parking lot management.
                </p>
                <p class="text-black-50 d-flex justify-content-evenly">
                    At ParkingSpot Ventures, we understand the challenges of parking management,
                    and we have developed an innovative web application to address them.
                    Our platform combines ease of use with powerful capabilities to ensure that you have full control over your parking facilities.

                </p>
            </div>
            <div class="col-lg-6">
                <p class="text-black-50 d-flex justify-content-evenly">
                    With our parking lot management web application, you gain the ability to monitor parking availability in real-time,
                    implement dynamic pricing strategies, and automate payment processes for a hassle-free experience.
                    ParkingSpot Ventures provides an intuitive dashboard that allows you to make data-driven decisions, optimize space allocation,
                    and maximize revenue.
                </p>
                <p class="text-black-50 d-flex justify-content-evenly">
                    Through detailed analytics and reporting tools, you can gain valuable insights into parking patterns, customer behavior,
                    and revenue generation. ParkingSpot Ventures empowers you to make informed decisions and continuously improve your parking operations.
                    Trust us to revolutionize your parking lot management, improving customer satisfaction and streamlining your operations like never before.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section pt-0">
    <div class="container">
        <div class="row justify-content-between mb-5">
            <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
                <div class="img-about dots">
                    <img src="/images/parking4.jpg" alt="Image" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-home2"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">
                            <i class="bi bi-house-door-fill"></i>
                            Quality properties
                        </h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nostrum iste.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-person"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">
                            <i class="bi bi-person-circle"></i>
                            Top rated agents
                        </h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nostrum iste.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-security"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">
                            <i class="bi bi-shield-fill-check"></i>
                            Easy and safe
                        </h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nostrum iste.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section pt-0">
    <div class="container">
        <div class="row justify-content-between mb-5">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="img-about dots">
                    <img src="/images/parking5.jpg" alt="Image" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-home2"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">
                            <i class="bi bi-house-door-fill"></i>
                            Quality properties
                        </h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nostrum iste.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-person"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">
                            <i class="bi bi-person-circle"></i>
                            Top rated agents
                        </h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nostrum iste.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-security"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">
                            <i class="bi bi-shield-fill-check"></i>
                            Easy and safe
                        </h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nostrum iste.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
                <img src="/images/parking6.jpg" alt="Image" class="img-fluid" />
            </div>
            <div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="100">
                <img src="/images/parking7.jpg" alt="Image" class="img-fluid" />
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <img src="/images/parking8.jpg" alt="Image" class="img-fluid" />
            </div>
        </div>
        <div class="row section-counter mt-5">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3"
                 data-aos="fade-up"
                 data-aos-delay="300">
                <div class="counter-wrap mb-5 mb-lg-0">
                    <span class="number"><span class="countup text-dark fs-1"><b>2917</b></span></span>
                    <div>
                    <span class="caption text-black-50"># of Buy Properties</span>
                        </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3"
                 data-aos="fade-up"
                 data-aos-delay="400">
                <div class="counter-wrap mb-5 mb-lg-0">
                    <span class="number"><span class="countup text-dark fs-1"><b>3918</b></span></span>
                    <div>
                    <span class="caption text-black-50"># of Sell Properties</span>
                        </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3"
                 data-aos="fade-up"
                 data-aos-delay="500">
                <div class="counter-wrap mb-5 mb-lg-0">
                    <span class="number"><span class="countup text-dark fs-1"><b>38928</b></span></span>
                    <div>
                    <span class="caption text-black-50"># of All Properties</span>
                        </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3"
                 data-aos="fade-up"
                 data-aos-delay="600">
                <div class="counter-wrap mb-5 mb-lg-0">
                    <span class="number"><span class="countup text-dark fs-1"><b>1291</b></span></span>
                    <div>
                    <span class="caption text-black-50"># of Agents</span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="section sec-testimonials bg-light mt-4">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-md-6">
                <h2 class="font-weight-bold heading text-dark mt-4 mb-4 mb-md-0">
                    The Team
                </h2>
            </div>
            <div class="col-md-6 text-md-end">
                <div id="testimonial-nav">
                    <span class="prev" data-controls="prev">Prev</span>

                    <span class="next" data-controls="next">Next</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4"></div>
        </div>
        <div class="testimonial-slider-wrap">
            <div class="testimonial-slider">
                <div class="item">
                    <div class="testimonial">
                        <img src="/images/person_1-min.jpg"
                             alt="Image"
                             class="img-fluid rounded-circle w-25 mb-4" />
                        <h3 class="h5 text-dark">James Smith</h3>
                        <p class="text-black-50">Designer, Co-founder</p>

                        <p>
                            Far far away, behind the word mountains, far from the
                            countries Vokalia and Consonantia, there live the blind texts.
                            Separated they live in Bookmarksgrove right at the coast of
                            the Semantics, a large language ocean.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial">
                        <img src="/images/person_2-min.jpg"
                             alt="Image"
                             class="img-fluid rounded-circle float center w-25 mb-4" />
                        <h3 class="h5 text-dark">Carol Houston</h3>
                        <p class="text-black-50">Designer, Co-founder</p>

                        <p>
                            Far far away, behind the word mountains, far from the
                            countries Vokalia and Consonantia, there live the blind texts.
                            Separated they live in Bookmarksgrove right at the coast of
                            the Semantics, a large language ocean.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial">
                        <img src="/images/person_3-min.jpg"
                             alt="Image"
                             class="img-fluid rounded-circle w-25 mb-4" />
                        <h3 class="h5 text-dark">Synthia Cameron</h3>
                        <p class="text-black-50">Designer, Co-founder</p>

                        <p>
                            Far far away, behind the word mountains, far from the
                            countries Vokalia and Consonantia, there live the blind texts.
                            Separated they live in Bookmarksgrove right at the coast of
                            the Semantics, a large language ocean.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial">
                        <img src="/images/person_4-min.jpg"
                             alt="Image"
                             class="img-fluid rounded-circle w-25 mb-4" />
                        <h3 class="h5 text-dark">Davin Smith</h3>
                        <p class="text-black-50">Designer, Co-founder</p>

                        <p>
                            Far far away, behind the word mountains, far from the
                            countries Vokalia and Consonantia, there live the blind texts.
                            Separated they live in Bookmarksgrove right at the coast of
                            the Semantics, a large language ocean.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@