@{ Layout = "_LayoutGeneral"; }
<main id="main">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/images/parking2.jpeg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
            <h2>Contact Us</h2>
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Contact</li>
            </ol>
        </div>
    </div>
</main>

<div class="section mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0"
                 data-aos="fade-up"
                 data-aos-delay="100">
                <div class="contact-info">
                    <div class="address mt-2">
                        <h4 class="mb-2">
                           <i class="bi bi-geo-alt-fill"></i>
                                Location:
                        </h4>
                        <p class="ms-4">
                                43 Raymouth Rd. Baltemoer,<br/>
                                London 3910
                        </p>
                    </div>

                    <div class="open-hours mt-4">
                        <i class="icon-clock-o"></i>
                        <h4 class="mb-2">
                            <i class="bi bi-clock-fill"></i>
                            Open Hours:</h4>
                        <p class="ms-4">
                            Sunday-Friday:<br />
                            11:00 AM - 23:00 PM
                        </p>
                    </div>

                    <div class="email mt-4">
                        <i class="icon-envelope"></i>
                        <h4 class="mb-2">
                            <i class="bi bi-envelope-fill"></i>
                            Email:</h4>
                        <p class="ms-4">info@parkingspotventures.com</p>
                    </div>

                    <div class="phone mt-4">
                        <i class="icon-phone"></i>
                        <h4 class="mb-2">
                            <i class="bi bi-telephone-fill"></i>
                            Call:</h4>
                        <p class="ms-4">+1 1234 55488 55</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
                <form method="post" action="/home/contact">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-6 mb-3">
                            <input type="text" name="name"
                                   class="form-control"
                                   placeholder="Your Name" />
                        </div>
                        <div class="col-6 mb-3">
                            <input type="email" name="email"
                                   class="form-control"
                                   placeholder="Your Email" />
                        </div>
                        <div class="col-12 mb-3">
                            <input type="text" name="subject"
                                   class="form-control"
                                   placeholder="Subject" />
                        </div>
                        <div class="col-12 mb-3">
                            <textarea name="message"
                                      id=""
                                      cols="30"
                                      rows="7"
                                      class="form-control"
                                      placeholder="Message"></textarea>
                        </div>

                        <div class="col-12">
                            <button type="submit"
                                   
                                   class="btn btn-dark btn-lg rounded-pill" >Send Message
                                </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>