<!DOCTYPE html>

<style>
    :root {
        --color-default: #364d59;
        --color-primary: #e5daf7;
        --color-secondary: #52565e;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ParkingLot</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toastr.min.css" />
    <link rel="stylesheet" href="~/ParkingLot.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <div class="banner" style="background-image: url('/images/blue.jpg'); ">
            <i class="bi bi-list" style="font-size: 40px"; type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            </i>
        </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Master Configurations</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                                    <li class="nav-item">
                                        <a href="/home/index" class="nav-link align-middle px-0">
                                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/dashboard/index" class="nav-link align-middle px-0">
                                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dashboard Home</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link px-0 align-middle" asp-area="" asp-controller="MstFacility" asp-action="MstFacilityView">
                                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Config Facility</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link px-0 align-middle" asp-area="" asp-controller="District" asp-action="DistrictView">
                                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Config District</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link px-0 align-middle" asp-area="" asp-controller="PaymentTypes" asp-action="PaymentTypesView">
                                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Config PaymentTypes</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link px-0 align-middle" asp-area="" asp-controller="ParkingLotTypes" asp-action="ParkinglotTypesView">
                                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Config ParkingTypes</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link px-0 align-middle" asp-area="" asp-controller="ParkingLot" asp-action="ParkingLotView">
                                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Config ParkingLot</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link px-0 align-middle" asp-area="" asp-controller="Users" asp-action="ViewUsers">
                                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Manage Users</span>
                                        </a>
                                    </li>
                                </ul>

                                <hr>}

                            <div class="btn-group dropend">
                                <div class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                                    <i class="bi bi-person" style="font-size:20px;"></i>
                                </div>
                                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/account/logout">Sign out</a></li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
    </header>
    <div>
        <div id="main">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    @section Scripts{
        <script>function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }</script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>