@{
    Layout = "_LayoutGeneral";

}

<main id="main">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/images/parking2.jpeg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
            <h2>Registration Confirmed</h2>
            <ol>
                <li><a href="index.html">Account</a></li>
                <li>Registration</li>
            </ol>
        </div>
    </div>
</main>
<div class="d-flex justify-content-center mt-4">
    <div class="card">
        <h5 class="card-header d-flex justify-content-center">
            <i class="bi bi-check-circle" style="font-size:2rem; color:green;"></i>
        </h5>
        <div class="card-body">
            <p class="card-text">Congratulations, your account has been successfully created.</p>
            <a href="/account/login" class="btn btn-success d-flex justify-content-center">Continue to Login</a>
        </div>
    </div>
</div>



